@media only screen and (min-width: 1225px) and (max-width: 1270px) {
  form {
    margin-left: 0px !important; }

  ul {
    right: -423px !important; } }
@media only screen and (min-width: 1025px) and (max-width: 1224px) {
  form {
    margin-left: -62px !important; }

  ul {
    right: -350px !important; } }
@media only screen and (min-width: 993px) and (max-width: 1024px) {
  form {
    margin-left: -62px !important; }

  ul {
    right: -300px !important; } }
@media only screen and (min-width: 970px) and (max-width: 992px) {
  form {
    margin-left: -62px !important; }

  ul {
    right: -300px !important; } }
@media only screen and (min-width: 900px) and (max-width: 969px) {
  form {
    margin-left: -92px !important; }

  ul {
    right: -260px !important; } }
@media only screen and (min-width: 850px) and (max-width: 899px) {
  .leftContent h4 {
    font-size: 1.5rem !important; }

  form {
    margin-left: -122px !important; }

  ul {
    right: -220px !important; } }
@media only screen and (min-width: 800px) and (max-width: 849px) {
  .leftContent h4 {
    font-size: 1.5rem !important; }

  form {
    margin-left: -142px !important; }

  ul {
    right: -180px !important; } }
@media only screen and (min-width: 767px) and (max-width: 799px) {
  .leftContent h3 span {
    font-size: 2rem !important; }
  .leftContent h4 {
    font-size: 1.5rem !important; }

  form {
    margin-left: -162px !important; }

  ul {
    right: -160px !important; } }
@media only screen and (min-width: 717px) and (max-width: 766px) {
  .leftContent {
    max-width: 700px;
    margin: 0 auto;
    padding-left: 0px !important;
    text-align: center; }
    .leftContent h3 {
      margin-top: 20px !important; }
      .leftContent h3 span {
        font-size: 2rem !important; }

  .rightContent form {
    width: 528px;
    margin: 0 auto !important;
    margin-bottom: 50px !important; }
    .rightContent form .columnMale {
      margin-left: 0px !important; }
    .rightContent form .form-group .firstName {
      margin-bottom: 15px; }

  #footer ul {
    right: -340px !important; }
  #footer p {
    top: 34px !important;
    left: 43px; } }
@media only screen and (min-width: 667px) and (max-width: 716px) {
  .leftContent {
    max-width: 600px;
    margin: 0 auto;
    padding-left: 0px !important;
    text-align: center; }
    .leftContent h3 {
      margin-top: 20px !important; }
      .leftContent h3 span {
        font-size: 2rem !important; }

  .rightContent form {
    width: 490px;
    margin: 0 auto !important;
    margin-bottom: 50px !important; }
    .rightContent form .columnMale {
      margin-left: 0px !important; }
    .rightContent form .form-group .firstName {
      margin-bottom: 15px; }

  #footer ul {
    right: -340px !important; }
  #footer p {
    top: 34px !important;
    left: 43px; } }
@media only screen and (min-width: 602px) and (max-width: 666px) {
  .leftContent {
    max-width: 550px;
    margin: 0 auto;
    padding-left: 0px !important;
    text-align: center; }
    .leftContent h3 {
      margin-top: 20px !important; }
      .leftContent h3 span {
        font-size: 2rem !important; }

  .rightContent form {
    width: 490px;
    margin: 0 auto !important;
    margin-bottom: 50px !important; }
    .rightContent form .columnMale {
      margin-left: 0px !important; }
    .rightContent form .form-group .firstName {
      margin-bottom: 15px; }

  #footer ul {
    right: -300px !important; }
  #footer p {
    top: 34px !important;
    left: 43px; } }
@media only screen and (min-width: 561px) and (max-width: 601px) {
  .leftContent {
    max-width: 500px;
    margin: 0 auto;
    padding-left: 0px !important;
    text-align: center; }
    .leftContent h3 {
      margin-top: 20px !important; }
      .leftContent h3 span {
        font-size: 2rem !important; }

  .rightContent form {
    width: 460px;
    margin: 0 auto !important;
    margin-bottom: 50px !important; }
    .rightContent form .columnMale {
      margin-left: 0px !important; }
    .rightContent form .form-group .firstName {
      margin-bottom: 15px; }

  #footer ul {
    right: -140px !important; }
  #footer p {
    top: 4px !important;
    left: 150px; } }
@media only screen and (min-width: 521px) and (max-width: 560px) {
  .leftContent {
    max-width: 500px;
    margin: 0 auto;
    padding-left: 0px !important;
    text-align: center; }
    .leftContent h3 {
      margin-top: 20px !important; }
      .leftContent h3 span {
        font-size: 2rem !important; }

  .rightContent form {
    width: 460px;
    margin: 0 auto !important;
    margin-bottom: 50px !important; }
    .rightContent form .columnMale {
      margin-left: 0px !important; }
    .rightContent form .form-group .firstName {
      margin-bottom: 15px; }

  #footer ul {
    right: -120px !important; }
  #footer p {
    top: 4px !important;
    left: 130px; } }
@media only screen and (min-width: 480px) and (max-width: 520px) {
  .leftContent {
    max-width: 460px;
    margin: 0 auto;
    padding-left: 0px !important;
    text-align: center; }
    .leftContent h3 {
      margin-top: 20px !important; }
      .leftContent h3 span {
        font-size: 2rem !important; }

  .rightContent form {
    width: 420px;
    margin: 0 auto !important;
    margin-bottom: 50px !important; }
    .rightContent form .columnMale {
      margin-left: 0px !important; }
    .rightContent form .form-group .firstName {
      margin-bottom: 15px; }

  #footer ul {
    right: -100px !important; }
  #footer p {
    top: 4px !important;
    left: 110px; } }
@media only screen and (min-width: 441px) and (max-width: 479px) {
  .leftContent {
    max-width: 420px;
    margin: 0 auto;
    padding-left: 0px !important;
    text-align: center; }
    .leftContent h3 {
      margin-top: 20px !important; }
      .leftContent h3 span {
        font-size: 2rem !important; }

  .rightContent form {
    width: 340px;
    margin: 0 auto !important;
    margin-bottom: 50px !important;
    padding: 16px !important;
    width: 360px !important; }
    .rightContent form .columnMale {
      margin-left: 0px !important; }
    .rightContent form .form-group .firstName {
      margin-bottom: 15px; }

  #footer ul {
    right: -80px !important; }
  #footer p {
    top: 4px !important;
    left: 90px; } }
@media only screen and (min-width: 401px) and (max-width: 440px) {
  .leftContent {
    max-width: 400px;
    margin: 0 auto;
    padding-left: 0px !important;
    text-align: center; }
    .leftContent h3 {
      margin-top: 20px !important; }
      .leftContent h3 span {
        font-size: 2rem !important; }

  .rightContent form {
    width: 340px;
    margin: 0 auto !important;
    margin-bottom: 50px !important;
    padding: 16px !important;
    width: 340px !important; }
    .rightContent form .columnMale {
      margin-left: 0px !important; }
    .rightContent form .form-group .firstName {
      margin-bottom: 15px; }

  #footer ul {
    right: -60px !important; }
  #footer p {
    top: 4px !important;
    left: 70px; } }
@media only screen and (min-width: 360px) and (max-width: 400px) {
  .leftContent {
    max-width: 320px;
    margin: 0 auto;
    padding-left: 0px !important;
    text-align: center; }
    .leftContent h3 {
      margin-top: 20px !important; }
      .leftContent h3 span {
        font-size: 2rem !important; }

  .rightContent form {
    width: 300px;
    margin: 0 auto !important;
    margin-bottom: 50px !important;
    padding: 16px !important;
    width: 300px !important; }
    .rightContent form .columnMale {
      margin-left: 0px !important; }
    .rightContent form .form-group .firstName {
      margin-bottom: 15px; }
    .rightContent form h1 {
      font-size: 30px !important; }

  #footer ul {
    right: -40px !important; }
  #footer p {
    top: 4px !important;
    left: 50px; } }
@media only screen and (min-width: 301px) and (max-width: 359px) {
  .leftContent {
    max-width: 300px;
    margin: 0 auto;
    padding-left: 0px !important;
    text-align: center; }
    .leftContent h3 {
      margin-top: 20px !important; }
      .leftContent h3 span {
        font-size: 2rem !important; }
    .leftContent p {
      font-size: 14px !important;
      padding-left: 10px;
      padding-right: 10px; }

  .rightContent form {
    width: 260px;
    margin: 0 auto !important;
    margin-bottom: 50px !important;
    padding: 16px !important;
    width: 260px !important; }
    .rightContent form .columnMale {
      margin-left: 0px !important; }
    .rightContent form .form-group .firstName {
      margin-bottom: 15px; }
    .rightContent form h1 {
      font-size: 28px !important; }
    .rightContent form .form-group select.country {
      width: 100% !important; }

  #footer ul {
    right: 0px !important; }
  #footer p {
    top: 4px !important;
    left: 10px; } }

/*# sourceMappingURL=responsive.css.map */
