@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeue.woff2') format('woff2'),
         url('../fonts/HelveticaNeue.woff') format('woff'),
         url('../fonts/HelveticaNeue.ttf') format('truetype'),
         url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
}

@font-face {
    font-family: 'helveticaneuebold';
    src: url('../fonts/helveticaneuebold.eot');
    src: url('../fonts/helveticaneuebold.eot') format('embedded-opentype'),
         url('../fonts/helveticaneuebold.woff2') format('woff2'),
         url('../fonts/helveticaneuebold.woff') format('woff'),
         url('../fonts/helveticaneuebold.ttf') format('truetype'),
         url('../fonts/helveticaneuebold.svg#helveticaneuebold') format('svg');
}


@mixin titleLeft($fontSize){
	font-family: 'helveticaneuebold';
	font-size: $fontSize;
	font-weight: bold;
	color:#166986;
}
@mixin transparentInput{
    appearance:none; -moz-appearance:none; -webkit-appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 10px 0;
    vertical-align: middle;
    font-family: 'HelveticaNeue';
    color: #464a4c;
    
}
.wrapperContainer{
	background:url("../images/backgroundMain.png") no-repeat;
	font-family: 'HelveticaNeue';
	height:auto;
	min-height:640px;
	background-size:cover;
	.mainContent
	{
		padding-top: 20px;
		.leftContent
		{
			padding-left: 30px;
			h2 img{
				margin-left: -10px;
			}
			h3
			{
				@include titleLeft(1.5rem);
				span{
					font-family: 'HelveticaNeue';
					font-size: 2.5rem;
				}
				margin-top: 105px;
				margin-bottom: 16px;
			}
			h4
			{
				@include titleLeft(1.875rem);
				span{
					font-family: 'HelveticaNeue';
					font-size: 1.5rem;
				}
				margin-bottom: 24px;
			}
			p{
				font-family: 'HelveticaNeue';
				color:#103e58;
				font-size: 18px;
				line-height: 22px;
			}
			
		}
		.rightContent{
			form{
				h1{
					font-family: 'helveticaneuebold';
					font-size: 36px;
					color:#383b43;
				}
				h4{
					font-family: 'HelveticaNeue';
					color:#383b43;
					font-size: 18px;
				}
				background-color: rgba(190, 198, 196, 0.4); 
				padding: 40px 40px;
				width: 428px;
				margin-left: 62px;
				input{
					// opacity: 0.5;
					font-family: 'HelveticaNeue';
					background:transparent;
				}
				p#birthday{
					margin-top: 2px;
					font-family: 'HelveticaNeue';
					font-size: 15px;
				}
				.selectDateWrapper{
					margin-top: -6px;
					.datethreeField {
					    @include transparentInput;
					    width: 79px;
					    padding-left:5px;
					    background: rgba(0, 0, 0, 0) url("../images/select.png") no-repeat scroll 55px 16px;
					}
				}
				.form-group{
					.genderWrapper{
						margin-top: -10px;
						font-family: 'HelveticaNeue';
						color: #464a4c;
						.columnMale{
							margin-left: -35px;
						}
					}
					
				}
				.country{
					select{
						@include transparentInput;
						margin-top:-10px;
						font-family: 'HelveticaNeue';
						color: #464a4c;
						padding-left:5px;
					    background:url(../images/select.png) no-repeat 252px 14px;
					}
				}
				.rulesText{
					font-family: 'HelveticaNeue';
					font-size: 14px;
					color: #464a4c;
					a{
						color:#166986;
					}
				}
				#createAccount{
					background:#166986;
					width: 218px;
					height: 44px;
					margin:0 auto;
					a{
						font-family: 'helveticaneuebold';
						font-size: 18px;
						width: 218px;
						height: 44px;
						display: block;
						margin:0 auto;
						color:#fff;
						
					}
				}
			}
			
		}
	}
	
	// footer
	#footer{
		margin-top: -50px;
	    overflow: hidden;
	    padding-bottom: 20px;
	    padding-top: 20px;
	    p{
	    	color: #fff;
    		position: relative;
    		top: 50px;
    		font-size: 12px;
    		font-family: 'HelveticaNeue';
	    }
		ul{
			position:relative;
			right: -550px;
			list-style: none;
			li{
				float: left;
				padding-right:5px;
			}
		}
	}
	
}


